/* Selector universal */
*{

    padding: 0 auto;
    margin: 0 auto;
}

/* Selector ID */

#contenedor{
    width: 900px; /*ancho*/
    height: 1000px; /* Altura */
    background-color: bisque ;
}

#cabecera{
    margin: 10px;
    height: 15%;
    background-color: green;
    text-align: center;
}

#barraNavegacion{
    margin: 10px;
    height: 5%;
    background-color: rgb(94, 196, 94);
    text-align: center;
}

#Seccion{
    margin: 10px;
    height: 70%;
    background-color:lightslategrey;
    text-align: center;
}
#texto{
    margin: 3%;
    
    border: 1px;
    border-color: orange;
    text-align: center;
    font-size: medium;
    border-style: solid;
    background-color: white;
}
#pieNavegacion{
    margin: 10px;
    height: 10%;
    background-color: red;
    text-align: center;
}

/* Selector Etiqueta */

ul{
   display: inline; 
}
li{
    text-align: center;
    display:inline-block;
    margin: 10px;
    font-size: medium;
}
img{
    height: 100px;
    width: 100px;
    border: 1px solid rgb(255, 205, 112) ;
    margin-left: 5px;
    margin-right: 5px;
}

.texto{
    text-align: justify;
    font-family: Verdana;
}